---
import Layout from "../layouts/Layout.astro";
import { ArrowUpRight, LogoGithub, Email, SendAlt, Education, ArrowRight } from "@carbon/icons-react";
import GoogleScholar from '../assets/google_scholar.svg';
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const posts = await getCollection("post");
const cmp = (a: any, b: any) => a.id.localeCompare(b.id, undefined, { numeric: true });
const projectPosts = posts.filter((x) => x.id.startsWith("projects/")).sort(cmp);
const researchPosts = posts.filter((x) => x.id.startsWith("research/")).sort(cmp);
---

<Layout title="Yakun Ouyang">
  <div class="grid grid-cols-4 grid-rows-2 gap-x-8">
    <h2 class="col-start-2 col-span-2 text-xl font-medium">Hi there, I'm Yakun Ouyang (欧阳亚坤) 👋</h2>
    <p class="col-start-2 row-span-2 col-span-2">
      I'm a Senior Engineer at <a href="https://github.com/apolloauto" target="_blank">Baidu Apollo</a>, working on
      Interactive Decision Making for <a href="https://www.apollogo.com/" target="_blank">Apollo GO</a> robotaxis.
    </p>
    <p class="col-start-2 row-span-2 col-span-2">
      I did my M.E. in Mechanical Engineering at Hunan University, under the supervision of Prof. <a
        href="https://scholar.google.com/citations?user=NB55MIQAAAAJ"
        target="_blank">Bai Li</a>.
    </p>
    <p class="col-start-2 row-span-2 col-span-2">
      I did my B.E. in Automation in Nanchang University, where I explored design and coding modern apps.
    </p>
    <div class="row-span-2 row-start-1 col-start-4">
      <img src="/memoji_wink.png" class="w-12 float-right rounded-full bg-zinc-100 p-2" />
    </div>
  </div>

  <div class="grid grid-cols-4 gap-x-8 mt-8">
    <div class="col-start-2 text-xs">
      <div class="font-medium mb-2">Interests</div>
      <div>Autonomous Driving</div>
      <div>Multi-Agent System</div>
      <div>Robotics</div>
    </div>

    <div class="text-xs col-span-2">
      <div class="font-medium mb-2">Education</div>
      <div>M.E. in Mechanical Engineering, Hunan University</div>
      <div>B.E. in Automation, Nanchang University</div>
    </div>
  </div>

  <div class="grid grid-cols-4 mt-12 gap-8">
    <h3 class="border-t-2 border-current pt-1 font-medium sticky top-4 h-8">Research</h3>
    <div class="grid col-span-3 grid-cols-3 gap-8">
      {
        researchPosts.map((post) => (
          <a href={`posts/${post.id}`} class={`group no-underline ${post.data.itemStyle.join(" ")}`}>
            <div class="item-img">
              <Image src={post.data.cover} alt={post.data.title} />
            </div>
            <div class="text-l flex items-center mt-4">
              {post.data.title} <ArrowRight className="ml-1 w-5 h-5 group-hover:translate-x-1 transition-transform" />
            </div>
          </a>
        ))
      }
    </div>
  </div>

  <div class="grid grid-cols-4 mt-12 gap-8">
    <h3 class="col-start-1 border-t-2 border-current pt-1 font-medium sticky top-4 h-8">Projects</h3>
    <div class="grid col-span-3 grid-cols-3 gap-8">
      {
        projectPosts.map((post) => (
          <a href={`posts/${post.id}`} class={`group no-underline ${post.data.itemStyle.join(" ")}`}>
            <div class="item-img">
              <Image src={post.data.cover} alt={post.data.title} />
            </div>
            <div class="text-l flex items-center mt-4">
              {post.data.title} <ArrowRight className="ml-1 w-5 h-5 group-hover:translate-x-1 transition-transform" />
            </div>
          </a>
        ))
      }
    </div>
  </div>

  <div class="grid grid-cols-4 mt-12 gap-8">
    <h3 class="col-start-1 border-t-2 border-current pt-1 font-medium sticky top-4 h-8">Contact</h3>
    <div class="grid grid-cols-2 gap-8">
      <a
        href="https://github.com/yakunouyang"
        target="_blank"
        class="group relative flex flex-col justify-between h-24"
      >
        <LogoGithub className="w-4 h-4" />
        <div>Github</div>
        <ArrowUpRight
          className="absolute bottom-0 right-0 w-5 h-5 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"
        />
      </a>
      <a
        href="https://scholar.google.com/citations?user=RI23DrEAAAAJ"
        target="_blank"
        class="group relative flex flex-col justify-between h-24"
      >
        <GoogleScholar class="w-4 h-4" fill="currentColor" />
        <div class="w-3/4">Google Scholar</div>
        <ArrowUpRight
          className="absolute bottom-0 right-0 w-5 h-5 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"
        />
      </a>
      <a href="mailto:yakun@hnu.edu.cn" class="group relative flex flex-col justify-between h-24" target="_blank">
        <Email className="w-4 h-4" />
        <div>Email</div>
        <SendAlt
          className="absolute bottom-0 right-0 ml-1 w-5 h-5 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform"
        />
      </a>
    </div>
  </div>
</Layout>
